<!doctype html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/style.css">
	<script type="text/javascript" src="/remoteClient.js"></script>
	<script type="text/javascript" src="libs/jquery.min.js"></script>
	<script type="text/javascript" src="libs/bezierEasing.js"></script>
	<script type="text/javascript" src="libs/loadingAnimations.js"></script>
	<script type="text/javascript" src="libs/bustimes.js"></script>
	<script type="text/javascript" src="libs/bootstrapAnimations.js"></script>
	<script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--Replacement-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="replacement/style.css">
	<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
	 <title>Rasberry Pi Server</title>
</head>
<body>

    {{{body}}}

</body>
    <!--Replacement-->
	<script src="http://code.jquery.com/jquery-1.11.2.min.js"></script>
	<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="replacement/nav.js"></script>
</html>
